extends ../layout

block content
    h1=title 
    a(href='/books/new', class="new-book") Add a book to the list
    br
    table(class='book-table') 
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
            each book in books
                tr
                    td.book-title 
                        a(href=`/books/${book.id}`) #{book.title}
                    td=book.author
                    td=book.genre 
                    td=book.year
    img(src='/static/images/library_books_2.svg' alt='picture of books' class="bookpic")