extends ../layout

block content
    h1=title 
    div.book-list-func 
        a(href='/books/new', class="new-book") Add a book to the list
        form(action='/books/search' method='get')
                input#search-input.search-input(type='search' name='searchTerm' placeholder='Search books')
                input#search-submit.search-submit(type='submit' value='🔎')
        img(src='/static/images/library_books_3.svg' alt='picture of books' class="small-bookpic")
    br
    div.book-list
    if books.length === 0
        h2#not-found
    if books.length > 0
    table(class='book-table') 
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody.table-data
            each book in books
                tr.book-item 
                    td.book-title 
                        a.book-title(href=`/books/${book.id}`) #{book.title}
                    td.book-author=book.author
                    td.book-genre=book.genre 
                    td.book-year=book.year
    h3.pagination-header Click buttons below to see more results 
    .pagination 
        - let i = 0;
            while i < bookPages
                if(searchTerm)
                    a.pagination-buttons(href=`/books/search?q=${searchTerm}&page=${++ i}`) #{ i }
                else
                    a.pagination-buttons(href=`/books?page=${++ i}`) #{i}

    script(src='static/javascripts/script.js')                